<section id="faq">
  <div class="faq_wrapp">
    <div class="faq_title_wrap">
      <div class="faq_sercle_icon">
        <i class="faq_icon"></i>
      </div>
      <h3 class="faq_action_text"></h3>
      <h2 class="faq_title">faqs.</h2>
    </div>
    <div class="faq_content animatedParent">
      <div class="faq_content_row">
        <div data-aos="fade-in" data-aos-delay="300" class="aos-init faq_content_row_item">
          <div class="faq_content_row_item_inner">
            <div class="faq_content_cercle">1</div>
            <div class="faq_content_item_description_wrap">
              <p class="faq_content_item_title">What is WordRanker??</p>
              <p class="faq_content_item_text">WordRanker is our premium backlinks that money can buy with. Not just because we owned 500+ websites in our portfolio with different ages from 2+ years to freshest domain added every week.</p>
            </div>
          </div>
        </div>
        <div class="faq_content_row_separator"></div>
        <div data-aos="fade-in" data-aos-delay="350" class="aos-init faq_content_row_item">
          <div class="faq_content_row_item_inner">
            <div class="faq_content_cercle">2</div>
            <div class="faq_content_item_description_wrap">
              <p class="faq_content_item_title">How long until I can rank on page 1?</p>
              <p class="faq_content_item_text">Depending on the satiety of your website and how much trust you already have with Google, we find it safe to say 4-6 months is where you would be able to rank first seven websites on page one.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="faq_content_row">
        <div data-aos="fade-in" data-aos-delay="400" class="aos-init faq_content_row_item m-no_bottom_line">
          <div class="faq_content_row_item_inner">
            <div class="faq_content_cercle">3</div>
            <div class="faq_content_item_description_wrap">
              <p class="faq_content_item_title">Are these backlinks permanent?</p>
              <p class="faq_content_item_text">Yes, all links we provide are permanent, unless you want any of them removed. The links will stay as long as the domain exists. If this is a concern of yours please contact us so we can best accommodate your requests.</p>
            </div>
          </div>
        </div>
        <div class="faq_content_row_separator"></div>
        <div data-aos="fade-in" data-aos-delay="450" class="aos-init faq_content_row_item m-no_bottom_line">
          <div class="faq_content_row_item_inner">
            <div class="faq_content_cercle">4</div>
            <div class="faq_content_item_description_wrap">
              <p class="faq_content_item_title">What Kind Of Links Should I Expect?</p>
              <p class="faq_content_item_text">Depending on the package you selected, your links will vary from High Authority Contextual Articles, Links from Reports on Real News Sites, Local Directories & Citations, Social Links, and more. All will be high quality, legitimate links.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
