<section id="faq">
  <div class="faq_wrapp">
    <div class="faq_title_wrap">
      <div class="faq_sercle_icon">
        <i class="faq_icon"></i>
      </div>
      <h3 class="faq_action_text">GET RANKED FAST</h3>
      <h2 class="faq_title">faqs.</h2>
    </div>
    <div class="faq_content animatedParent">
      <div class="faq_content_row">
        <div data-aos="fade-in" data-aos-delay="300" class="aos-init faq_content_row_item">
          <div class="faq_content_row_item_inner">
            <div class="faq_content_cercle">1</div>
            <div class="faq_content_item_description_wrap">
              <p class="faq_content_item_title">What is Ipdata?</p>
              <p class="faq_content_item_text">Lorem ipsum onsectetur adipiscing sit amet metus blandit e Lorem ipsum onsectetur adipiscing sit amet metus
                blandit erat viverrarat viverra</p>
            </div>
          </div>
        </div>
        <div class="faq_content_row_separator"></div>
        <div data-aos="fade-in" data-aos-delay="350" class="aos-init faq_content_row_item">
          <div class="faq_content_row_item_inner">
            <div class="faq_content_cercle">2</div>
            <div class="faq_content_item_description_wrap">
              <p class="faq_content_item_title">What is Ipdata?</p>
              <p class="faq_content_item_text">Lorem ipsum onsectetur adipiscing sit amet metus blandit e Lorem ipsum onsectetur adipiscing sit amet metus
                blandit erat viverrarat viverra</p>
            </div>
          </div>
        </div>
      </div>
      <div class="faq_content_row">
        <div data-aos="fade-in" data-aos-delay="400" class="aos-init faq_content_row_item m-no_bottom_line">
          <div class="faq_content_row_item_inner">
            <div class="faq_content_cercle">3</div>
            <div class="faq_content_item_description_wrap">
              <p class="faq_content_item_title">What is Ipdata?</p>
              <p class="faq_content_item_text">Lorem ipsum onsectetur adipiscing sit amet metus blandit e Lorem ipsum onsectetur adipiscing sit amet metus
                blandit erat viverrarat viverra</p>
            </div>
          </div>
        </div>
        <div class="faq_content_row_separator"></div>
        <div data-aos="fade-in" data-aos-delay="450" class="aos-init faq_content_row_item m-no_bottom_line">
          <div class="faq_content_row_item_inner">
            <div class="faq_content_cercle">4</div>
            <div class="faq_content_item_description_wrap">
              <p class="faq_content_item_title">What is Ipdata?</p>
              <p class="faq_content_item_text">Lorem ipsum onsectetur adipiscing sit amet metus blandit e Lorem ipsum onsectetur adipiscing sit amet metus
                blandit erat viverrarat viverra</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>