<section id="features">
  <div class="features_sercle_icon">
    <i class="feature_icon"></i>
  </div>

  <div class="features_top_text">
    <h3 class="features_action_text">get ranked fast</h3>
    <h2 class="features_title">Features</h2>
    <p class="features_description">Lorem ipsum onsectetur adipiscing sit amet metus blandit erat viverra semper.</p>
  </div>

  <div class="features_list_wrap">
    <div class="features_list_inner">
      <div data-aos="fade-right" data-aos-delay="300" class="aos-init features_list_item">
        <div class="feature_list_item_icon_wrap">
          <img src="/images/features/understand.svg" alt="backlinks" class="feature_list_item_icon">
        </div>
        <h3 class="feature_list_item_title">Understand backlinks</h3>
        <p class="feature_list_item_description">Lorem ipsum onsectetur adipiscing sit amet metus blandit erat Lorem ipsum onsectetur adipiscing sit amet metus blandit
          erat viverraviverra
        </p>
      </div>
      <div data-aos="fade-up" data-aos-delay="300" class="aos-init features_list_item">
        <div class="feature_list_item_icon_wrap">
          <img src="/images/features/fast.svg" alt="fast" class="feature_list_item_icon">
        </div>
        <h3 class="feature_list_item_title">Fast</h3>
        <p class="feature_list_item_description">Lorem ipsum onsectetur adipiscing sit amet metus blandit erat viverra</p>
      </div>

      <div data-aos="fade-left" data-aos-delay="300" class="aos-init features_list_item">
        <div class="feature_list_item_icon_wrap">
          <img src="/images/features/reports.svg" alt="reports" class="feature_list_item_icon">
        </div>
        <h3 class="feature_list_item_title">Monthly reports</h3>
        <p class="feature_list_item_description">Lorem ipsum onsectetur adipiscing sit amet metus blandit erat viverra</p>
      </div>
    </div>
  </div>
</section>