<section id="features">
  <div class="features_sercle_icon">
    <i class="feature_icon"></i>
  </div>

  <div class="features_top_text">
    <h3 class="features_action_text">Everything you want</h3>
    <h2 class="features_title">What You'll Get</h2>
    <p class="features_description">Understand what is being done to your website to rank and see how SEO is performing monthly</p>
  </div>

  <div class="features_list_wrap">
    <div class="features_list_inner">
      <div data-aos="fade-right" data-aos-delay="300" class="aos-init features_list_item">
        <div class="feature_list_item_icon_wrap">
          <img src="/images/features/understand.svg" alt="backlinks" class="feature_list_item_icon">
        </div>
        <h3 class="feature_list_item_title">Quality Backlinks</h3>
        <p class="feature_list_item_description">It's always quality over quantity with us. We use trusted profeshinal backlines than white hat SEO.
        </p>
      </div>
      <div data-aos="fade-up" data-aos-delay="300" class="aos-init features_list_item">
        <div class="feature_list_item_icon_wrap">
          <img src="/images/features/fast.svg" alt="fast" class="feature_list_item_icon">
        </div>
        <h3 class="feature_list_item_title">Keyword Analysis</h3>
        <p class="feature_list_item_description">From search volume and CPC of phrases for Google and Seznam, through competitiveness of a query to an ideal landing page or automatic categorization.</p>
      </div>

      <div data-aos="fade-left" data-aos-delay="300" class="aos-init features_list_item">
        <div class="feature_list_item_icon_wrap">
          <img src="/images/features/reports.svg" alt="reports" class="feature_list_item_icon">
        </div>
        <h3 class="feature_list_item_title">Monthly Reports</h3>
        <p class="feature_list_item_description">Receive monthly reports regarding keyword performance, overall search visibility and keyword position so your never guessing.</p>
      </div>
    </div>
  </div>
</section>
