<footer id="footer">
  <div class="footer_column m-foter_column_left">
    <h2 class="footer_title">WORDRANKER</h2>
    <p class="footer_text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempus felis ac diam eleifend, id efficitur ex feugiat. Sed
      sed.
    </p>
    <div class="footer_created_by_wrap m-desctop_hide_on_680">
      <p class="footer_created_by_text">Site by:
        <span class="footer_created_by_icon"></span>
      </p>
    </div>
    <p class="footer_copyright m-desctop_hide_on_680">&copy; 2018 Gript Inc,</p>
  </div>
  <div class="footer_column">
    <ul class="footer_links_wrap">
      <li class="footer_link_wrap">
        <a href="#" class="footer_link">Links</a>
      </li>
      <li class="footer_link_wrap">
        <a href="#" class="footer_link">Home</a>
      </li>
      <li class="footer_link_wrap">
        <a href="#" class="footer_link">For</a>
      </li>
    </ul>
  </div>
  <div class="footer_column">
    <ul class="footer_links_wrap">
      <li class="footer_link_wrap">
        <a href="#" class="footer_link">About Us</a>
      </li>
      <li class="footer_link_wrap">
        <a href="#" class="footer_link">Home</a>
      </li>
      <li class="footer_link_wrap">
        <a href="#" class="footer_link">For</a>
      </li>
    </ul>
  </div>
  <div class="footer_column foter_column_right">
    <ul class="footer_links_wrap">
      <li class="footer_link_wrap">
        <a href="#" class="footer_link">Contact Us</a>
      </li>
      <li class="footer_link_wrap">
        <a href="#" class="footer_link">Home</a>
      </li>
      <li class="footer_link_wrap">
        <a href="#" class="footer_link">For</a>
      </li>
    </ul>
    <div class="footer_social_wrap">
      <a href="mailto:hello@zora.io" class="footer_contact_email">hello@zora.io</a>
      <hr/>
      <ul class="footer_social_icons_wrap">
        <li class="footer_social_icon_wrap">
          <a href="#" class="footer_social_icon m_icon_fb"></a>
        </li>
        <li class="footer_social_icon_wrap">
          <a href="#" class="footer_social_icon m_icon_tw"></a>
        </li>
        <li class="footer_social_icon_wrap">
          <a href="#" class="footer_social_icon m_icon_ins"></a>
        </li>
        <li class="footer_social_icon_wrap">
          <a href="#" class="footer_social_icon m_icon_email"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer_created_by_wrap m-mobile_show_on_680">
    <p class="footer_created_by_text">Site by:
      <span class="footer_created_by_icon"></span>
    </p>
  </div>
  <p class="footer_copyright m-mobile_show_on_680">&copy; 2018 Gript Inc,</p>
</footer>