<section id="happy_clients">
  <h2 class="happy_clients_title">Happy clients</h2>
  <hr>
  <ul class="clients_list">
    <li data-aos="fade-up" data-aos-delay="300" class="aos-init clients_list_item">
      <img src="/images/clients/glossier.png" alt="glossier" class="clients_list_item_logo">
    </li>
    <li data-aos="fade-up" data-aos-delay="400" class="aos-init clients_list_item">
      <img src="/images/clients/missguided.png" alt="missguided" class="clients_list_item_logo">
    </li>
    <li data-aos="fade-up" data-aos-delay="500" class="aos-init clients_list_item">
      <img src=" /images/clients/lyft.png " alt="lyft " class="clients_list_item_logo ">
    </li>
    <li data-aos="fade-up" data-aos-delay="600" class="aos-init clients_list_item">
      <img src="/images/clients/slack.png " alt="slack " class="clients_list_item_logo ">
    </li>
    <li data-aos="fade-up" data-aos-delay="700" class="aos-init clients_list_item">
      <img src="/images/clients/charity_water.png " alt="charity water " class="clients_list_item_logo ">
    </li>
  </ul>
</section>