<section id="keywords">
  <div class="keywords_wrapp">
    <div class="keywords_text_content">
      <div data-aos="fade-right" data-aos-delay="300" class="aos-init keywords_text_content_inner">
        <div class="keywords_sercle_icon">
          <i class="keywords_icon"></i>
        </div>
        <h3 class="keywords_action_text">Increased website attention</h3>
        <h2 class="keywords_title">Rank For Keywords </br> You Want</h2>
        <p class="keywords_description">Lorem ipsum onsectetur adipiscing sit amet metus blandit erat viverra semper.</p>
        <a href="https://goo.gl/ykbGjv" class="keywords_btn">get started today</a>
      </div>
    </div>
    <div class="keywords_images">
      <div class="keywords_images_cell">
        <div data-aos="fade-up" data-aos-delay="300" class="aos-init keywords_images_cell_item">
          <div class="cell_item_text_wrap">
            <p class="cell_item_title ">screenrepairsd.com</p>
            <div class="cell_item_icon_vs_text ">
              <div class="cell_item_icon_wrap ">
                <img src="/images/keywords/eye.svg " alt="eye " class="cell_item_icon">
              </div>
              <p class="cell_item_text ">
                <span class="cell_item_number ">06</span>Ranking Score</p>
            </div>
          </div>
          <div class="cell_item_image_wrap ">
            <img src="/images/keywords/ranking_score.png " alt="ranking_score">
          </div>
        </div>
        <div data-aos="fade-up" data-aos-delay="300" class="aos-init keywords_images_cell_item m-keywords_images_cell_item_colored">
          <div class="cell_item_text_wrap ">
            <p class="cell_item_title ">sandiegosignprint.com</p>
            <div class="cell_item_icon_vs_text m-cell_item_icon_vs_text_custom_padding ">
              <div class="cell_item_icon_wrap ">
                <img src="/images/keywords/arrow.svg " alt="arrow " class="cell_item_icon ">
              </div>
              <p class="cell_item_text ">
                <span class="cell_item_number ">02</span>Keyword ranking</p>
            </div>
          </div>
          <div class="cell_item_image_wrap m-cell_item_image_wrap_small_padding ">
            <img src="/images/keywords/sandiego.png " alt="ranking_score ">
          </div>
        </div>
        <div data-aos="fade-up" data-aos-delay="300" class="aos-init keywords_images_cell_item">
          <div class="cell_item_text_wrap ">
            <p class="cell_item_title ">nyctvinstalling.com</p>
            <div class="cell_item_icon_vs_text ">
              <div class="cell_item_icon_wrap ">
                <img src="/images/keywords/eye_orange.svg " alt="eye " class="cell_item_icon ">
              </div>
              <p class="cell_item_text ">
                <span class="cell_item_number">4,395</span>Monthly Views</p>
            </div>
          </div>
          <div class="cell_item_image_wrap ">
            <img src="/images/keywords/nyc.png " alt="ranking_score ">
          </div>
        </div>
      </div>
      <div class="keywords_images_cell m-keywords_images_cell_padding">
        <div data-aos="fade-up" data-aos-delay="300" class="aos-init keywords_images_cell_item m-keywords_images_cell_item_colored">
          <div class="cell_item_text_wrap ">
            <p class="cell_item_title ">Monthly Views</p>
            <p class="cell_item_text ">temeculaflowers.com</p>
          </div>
          <div class="cell_item_image_wrap m-cell_item_image_wrap_small_padding ">
            <img src="/images/keywords/target_results.png " alt="ranking_score ">
          </div>
        </div>
        <div data-aos="fade-up" data-aos-delay="300" class="aos-init keywords_images_cell_item">
          <div class="cell_item_text_wrap ">
            <p class="cell_item_title ">nyctvinstalling.com</p>
            <div class="cell_item_icon_vs_text ">
              <div class="cell_item_icon_wrap ">
                <img src="/images/keywords/eye_orange.svg " alt="eye " class="cell_item_icon ">
              </div>
              <p class="cell_item_text ">
                <span class="cell_item_number ">11,372</span>Monthly Views</p>
            </div>
          </div>
          <div class="cell_item_image_wrap ">
            <img src="/images/keywords/nyc.png " alt="ranking_score ">
          </div>
        </div>
        <div data-aos="fade-up" data-aos-delay="300" class="aos-init keywords_images_cell_item m-keywords_images_cell_item_colored">
          <div class="cell_item_text_wrap ">
            <p class="cell_item_title ">Targeted Results</p>
            <p class="cell_item_text ">tdre.us</p>
          </div>
          <div class="cell_item_image_wrap m-cell_item_image_wrap_small_padding ">
            <img src="/images/keywords/target_results.png " alt="ranking_score ">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
