<section id="pricing">
  <div class="pricing_sercle_icon">
    <i class="pricing_icon"></i>
  </div>

  <div class="pricing_top_text">
    <h3 class="pricing_action_text">Simple & Affordable</h3>
    <h2 class="pricing_title">Pricing</h2>
    <p class="pricing_description">We made pricing simple, so you don't have to worry about fees or hidden charges.</p>
  </div>

  <div class="pricing_cards">
    <div class="pricing_card_wrap m-price_low">
      <div class="pricing_card_inner">
        <div class="pricing_card_price_wrap">
          <div class="pricing_card_price_inner">
            <p class="pricing_card_title">5 Key Words</p>
            <p class="pricing_card_price">
              <span class="pricing_card_currency">$</span>
              <span data-aos="" data-aos-id="super-duper" class="aos-init">149</span>
            </p>
            <p class="pricing_card_period">/ month</p>
          </div>
        </div>
        <div class="pricing_card_details">
          <div class="pricing_card_details_inner">
            <p class="pricing_card_details_text">5 key words</p>
            <p class="pricing_card_details_text">25 Keywords research</p>
            <p class="pricing_card_details_text">Site SEO Audit</p>
            <div class="pricing_card_button_wrap">
              <a target="_blank" href="https://goo.gl/ykbGjv" class="pricing_card_button">GET STARTED TODAY</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pricing_card_wrap m-price_middle">
      <div class="pricing_card_inner">
        <div class="pricing_card_price_wrap">
          <div class="pricing_card_price_inner">
            <p class="pricing_card_title">8 Key Words</p>
            <p class="pricing_card_price ">
              <span class="pricing_card_currency">$</span>
              <span data-aos="" data-aos-id="super-duper" class="aos-init">299</span>
            </p>
            <p class="pricing_card_period">/ month</p>
          </div>
        </div>
        <div class="pricing_card_details">
          <div class="pricing_card_details_inner">
            <p class="pricing_card_details_text">8 key words</p>
            <p class="pricing_card_details_text">50 Keywords research</p>
            <p class="pricing_card_details_text">Site SEO Audit</p>
            <div class="pricing_card_button_wrap">
              <a target="_blank" href="https://goo.gl/ykbGjv" class="pricing_card_button">GET STARTED TODAY</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pricing_card_wrap m-price_high">
      <div class="pricing_card_inner">
        <div class="pricing_card_price_wrap">
          <div class="pricing_card_price_inner">
            <p class="pricing_card_title">12 Key Words</p>
            <p class="pricing_card_price">
              <span class="pricing_card_currency">$</span>
              <span data-aos="" data-aos-id="super-duper" class="aos-init">349</span>
            </p>
            <p class="pricing_card_period">/ month</p>
          </div>
        </div>
        <div class="pricing_card_details">
          <div class="pricing_card_details_inner">
            <p class="pricing_card_details_text">12 key words</p>
            <p class="pricing_card_details_text">85 Keywords research</p>
            <p class="pricing_card_details_text">Site SEO Audit</p>
            <div class="pricing_card_button_wrap">
              <a target="_blank" href="https://goo.gl/ykbGjv" class="pricing_card_button">GET STARTED TODAY</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pricing_bottom">
    <div class="pricing_bottom_rectangles">
      <div class="pricing_bottom_rectangle m-pricing_bottom_rectangle_left_small"></div>
      <div class="pricing_bottom_rectangle m-pricing_bottom_rectangle_left_fill"></div>
      <div class="pricing_bottom_rectangle m-pricing_bottom_rectangle_right_big"></div>
      <div class="pricing_bottom_rectangle m-pricing_bottom_rectangle_right_small"></div>
    </div>
    <div class="pricing_bottom_content">
      <div class="pricing_bottom_sercle_icon">
      </div>
      <p class="pricing_bottom_content_text">
        <span class="m-pricing_bottom_content_text">Should I rank for more than 5 key words?</span> The answer is yes it’s better to have a variety of key phrases you want to rank for as your dream key phrase may take a few months but ranking for other phrases my take less time and often find it brings in leads clients never expected.
      </p>
    </div>
  </div>
</section>
