<section id="top_section">
  <div class="top_background">
    <div class="baner_lines">
      <hr class="baner_line m-baner_line_1">
      <hr class="baner_line m-baner_line_2">
      <hr class="baner_line m-baner_line_3">
    </div>
    <div class="animated_rectangles">
      <div class="animated_rectangle m-animated_rectangle_1 j-animated_rectangle_1"></div>
      <div class="animated_rectangle m-animated_rectangle_2 j-animated_rectangle_2"></div>
      <div class="animated_rectangle m-animated_rectangle_3 j-animated_rectangle_3"></div>
      <div class="animated_rectangle m-animated_rectangle_4 j-animated_rectangle_4"></div>
    </div>
    <div class="throught_line"></div>
    <div class="bottom_line"></div>
  </div>
  <div class="section_inner">
    <div class="top_section_content">
      <div class="top_section_baner">
        <h1 class="top_section_baner_title">Rank first page for your dream keywords</h1>
        <h2 class="top_section_baner_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet</h2>
        <a href="https://goo.gl/ykbGjv" class="top_section_baner_btn">get started today</a>
      </div>
      <div class="top_section_image_container">
        <img src="/images/top_banner.png" alt="top_section_image" class="top_section_image">
      </div>
      <div class="top_section_additional_wrap">
        <div class="top_section_additional">
          <div class="top_section_additional_item">
            <img src="/images/barchart.svg" alt="barchart" class="top_section_additional_item_image">
            <p class="top_section_additional_item_text">Get ranked fast and correctly with us!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>